<div class="container">
  <div class="contact-container">
    <h2>CONTACT</h2>
    <p>(201) 943-1811</p>
    <p>email@email.com</p>
    <h2>ADDRESS</h2>
    <p>16 NJ-5, Palisades Park, NJ 07650</p>
  </div>
  <div class="hours-container">
    <h2>HOURS</h2>
    <p>Monday to Sunday 12:00 PM - 2:30 AM</p>
    <p>Last Call 1:30 AM</p>
    <h4>CASH ONLY!</h4>
  </div>
  <div class="directions-container">
    <h2>FIND US</h2>
    <fa-icon class="icon" [icon]="faYelp" size="xl"></fa-icon>
    <fa-icon class="icon" [icon]="faGoogle"></fa-icon>
  </div>
  <div class="maps-container">
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3018.434472162462!2d-74.00086022354392!3d40.840383929745414!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c2f7092611eec3%3A0x7017bc3fdcd14af5!2sLegends!5e0!3m2!1sen!2sus!4v1695393291278!5m2!1sen!2sus"
      width="200"
      height="200"
      style="border: 0"
      allowfullscreen=""
      loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"
    ></iframe>
  </div>
</div>
