.container,
.carousel-container {
  display: flex;
  justify-content: center;
}

h1 {
  padding-top: 4rem;
  margin: 0 0 1rem 0;
}

.gallery {
  flex-direction: column;
  width: 75%;
}

.carousel-container {
  flex-direction: row;
  margin-bottom: 3rem;
  width: 100%;
}

img {
  display: flex;
  justify-content: center;
  height: 15rem;
  margin: auto;
}

button {
  font-size: 2rem;
  opacity: 25%;
  color: #535353;
  border: none;
}

/* .gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.carousel-img {
  height: 150px;
} */
