<div class="about-container" id="about">
  <h1>ABOUT</h1>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua. Erat velit scelerisque
    in dictum non. Adipiscing commodo elit at imperdiet dui accumsan sit amet.
    Lacus sed viverra tellus in hac habitasse platea dictumst vestibulum. Purus
    faucibus ornare suspendisse sed nisi. Duis ut diam quam nulla porttitor
    massa id. Et odio pellentesque diam volutpat commodo sed egestas egestas.
    Bibendum neque egestas congue quisque egestas diam in arcu. Tincidunt dui ut
    ornare lectus. Ornare suspendisse sed nisi lacus sed viverra tellus in.
  </p>
</div>
