<div class="container">
  <h1>DRINKS</h1>
  <div class="menu-container">
    <div class="section1-container">
      <h2 class="section-title">Beer/Seltzer</h2>
      <h3 class="list-title">Bottle</h3>
      <ul>
        <li>Stella</li>
        <li>Michelob Ultra</li>
        <li>Yeungling</li>
        <li>Coors</li>
        <li>Miller</li>
        <li>Budweiser</li>
        <li>Fat Tire</li>
        <li>Harpoon</li>
      </ul>
      <h3 class="list-title">Draft</h3>
      <ul>
        <li>Stella</li>
        <li>Michelob Ultra</li>
        <li>Yeungling</li>
        <li>Coors</li>
        <li>Miller</li>
        <li>Budweiser</li>
      </ul>
      <h3 class="list-title">Seltzer/Cider</h3>
      <ul>
        <li>White Claw</li>
        <li>High Noon</li>
        <li>Angry Orchard</li>
      </ul>
    </div>
    <div class="section3-container">
      <h2>Liquor/Spirits</h2>
      <h3 class="section-title">Tequlia</h3>
      <ul>
        <li>Patron</li>
        <li>Jose Cuervo</li>
        <li>Casamigos</li>
        <li>Espolon</li>
        <li>Don Julio</li>
      </ul>
      <h3 class="section-title">Vodka</h3>
      <ul>
        <li>Titos</li>
        <li>Grey Goose</li>
        <li>Absolut</li>
        <li>Smirinoff</li>
        <li>Ciroc</li>
      </ul>
      <h3 class="section-title">Whiskey</h3>
      <ul>
        <li>Tullamore DEW</li>
        <li>Jameson</li>
        <li>McCellan</li>
        <li>Jack Daniels</li>
        <li>Johnny Walker</li>
        <li>Fireball</li>
      </ul>
    </div>
    <div class="section2-container">
      <h2 class="section-title">Wine</h2>
      <h3 class="list-title">Reds</h3>
      <ul>
        <li>Cabernet</li>
        <li>Merlot</li>
        <li>Malbec</li>
        <li>Pinot Nior</li>
        <li>Sangiovese</li>
      </ul>
      <h3 class="list-title">Whites</h3>
      <ul>
        <li>Chardonnay</li>
        <li>Sauvignon Blanc</li>
        <li>Pinot Grigio</li>
        <li>Pinot Blanc</li>
      </ul>
    </div>
  </div>
</div>
