.container {
  flex-direction: column;
  margin: 10rem auto;
  margin-top: 0;
  width: 50%;
}

.banner {
  display: block;
  width: 65%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
}

.home-img {
  display: block;
  height: 30rem;
  width: 100%;
  object-fit: cover;
  object-position: 25% 60%;
  margin-left: auto;
  margin-right: auto;
}

p {
  width: 75%;
}
