.container{
    display: flex;
    flex-direction: column;
    margin: 10rem;
    margin-top: 0;
}

.banner{
    height: 10rem;
    width: 45rem;
    object-fit: cover;
    object-position: 25% 14%;
    align-self: center;
}

.home-img{
    height: 25rem;
    object-fit: cover;
    object-position: 25% 60%;
}

.about-container{
    display: flex;
    flex-direction: column;
    align-content: center;
}

p{
    width:75%;
}